body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
}
#product {
  max-width: 300px;
  margin: auto;
  margin-left: 500px;
  margin-top: 10px;
  color: white;
  font-size: 25px;
}
#product .product2{
  width: 100%;
  height: 50px;
  margin-bottom: 1.3rem;
  position: relative;
}
#product .product2 input{
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  outline: none;
  border-radius: 50px;
  padding: 1.5rem;
  font-size: 20px;
}
#access {
  font-size: 23px;
  width: 100%;
  border-radius: 50px;
  padding-right: 50px;
}
input[type=submit] {
  width: 55%;
  height: 50px;
  border: 1px solid;
  background: #fff;
  border-radius: 25px;
  font-size: 25px;  
  cursor: pointer;
  outline: none;
  margin-top: 380px;
  margin-left: 5px;
}
input[type=submit]:hover {
  border-color: #2691d9;
  transition: .5s;

}
h4 {
  padding: 0 0 10px 0;
  border-bottom: 3px solid silver;
  color: white;
}



